body {
    background-color: #FAFAD8;
}
/*structure*/
.progressBox {
    background-color: #fbdbb5;
    width: 30vw;
    height: 35vh;
    margin: 30vh auto;
    vertical-align: middle;
}
.progressTitle{
    color: #f35b29;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 20%;
    margin: 0;
    line-height: 40px;
    padding: 0;
}
.progressLines{
    height: 60%;
    margin: 0;
    padding: 0;
}
.progressController{
    background-color: #e7833e;
    height: 20%;
    margin: 0;
    padding: 5px;
}
/*progressLines*/
.progressAll{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #e7833e;
}
.pL_1{
    background-color: #FFA466;
    width: 1%;
    height: 34%;
}
.pL_2{
    background-color: #CB6119;
    width: 1%;
    height: 33%;
}
.pL_3{
    background-color: #A04508;
    width: 1%;
    height: 33%;
}
/*progressController*/
.dropdown {
    position: relative;
    display: inline-block;
}